@using Dynamics_365_WebApp.Models

@if (MyViewData.CrmConnection)
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">
                Connected to Dynamics 365
            </li>
        </ul>
    </text>
}
else
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">
                Not connected to Dynamics
            </li>
        </ul>
    </text>
}

