@using Dynamics_365_WebApp.Models

<text>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">
            <li>
                Feature Options :
                <form method="post">
                    Check 1
                    <input type="checkbox" name="chk1" id="1" checked />
                    Check 2
                    <input type="checkbox" name="chk2" checked />
                    <input type="submit" value="Submit"/>
                </form>
            </li>
    </ul>
</text>

